.mainHeader {
    color:red;
    font-size: 20px;
}
.secondHeader {
color:lime;
}
.mainFooter {
    color:burlywood;
    font-size: 10px;
}
.h2{
    color:hotpink;
}
.mainBody {
    background:lightblue;
}
.mainSection {
    background: white;
}